<div class="container">
  <footer>
    <p class="text-center text-muted">
      Found a typo or otherwise want to contribute?
      <br>
      Find <a href="https://gitlab.com/nuccdc/web" target="_blank">this repo on GitLab</a>.
    </p>
  </footer>
</div>
