<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/17649871?s=64">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="https://avatars.githubusercontent.com/u/17649871?s=200&v=4" alt="{{ site.title }}"></img>
          <h4>{{ site.description }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
        {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
